body
{
    background-image: url("../images/gate.jpg"); 
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 2100px 1100px;
    position: relative;

    animation-name: movingBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes movingBackground
{
    0% {background-position: -5px 0px;}
    100% {background-position: -25px 0px;}
}

h1
{
    font-family: Papyrus;
    font-size: 50px;
    text-align: center;
}

main
{
    color: white;
}

nav
{
    font-family: Papyrus;
    color: white;
    font-size: 40px;
    text-align: center;
}

.quote
{
    font-family: Garamond;
    font-size: 25px;
    border-style: solid;
    color: white;
    border-color: rgb(15, 15, 15);
    text-align: center;
    box-shadow: -10px 10px 1px rgb(5, 10, 15);
    background-color: rgba(55, 55, 50, 0.75);
    font-style: italic;
    padding: 20px;
}

strong
{
    color: white;
    animation-name: whiteToRed;
    animation-duration: 10s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

@keyframes whiteToRed
{
    from {color: white;}
    to {color: red;}
}

.text
{
    text-align: center;
    font-size: 25px;
}