body
{
    background-image: url("../images/forest.jpg"); 
    background-repeat: no-repeat;
    background-size: 2000px 1200px;
}

h1
{
    font-size: 50px;
    text-align: center;
}

nav
{
    color: white;
    font-size: 40px;
    text-align: center;
}

.quote
{
    font-size: 25px;
    border-style: solid;
    border-color: rgb(238, 236, 216);
    text-align: center;
    box-shadow: -10px 10px 1px rgb(120, 120, 120);
    background-color: rgb(220, 220, 205);
    color: rgb(100, 100, 100);
    font-style: italic;
    padding: 20px;
}