body
{
    background-image: url("./images/forest.jpg"); 
    background-repeat: no-repeat;
    background-size: 3000px 1500px;
}

footer
{
    color: white;
    font-size: 40px;
    text-align: center;
}