body
{
    background-image: url("../images/gate.jpg"); 
    background-repeat: no-repeat;
    background-size: 2000px 1100px;
}

h1
{
    font-size: 50px;
    text-align: center;
}

main
{
    color: white;
}

nav
{
    color: white;
    font-size: 40px;
    text-align: center;
}

.quote
{
    font-size: 25px;
    border-style: solid;
    border-color: rgb(15, 15, 15);
    text-align: center;
    box-shadow: -10px 10px 1px rgb(5, 10, 15);
    background-color: rgba(55, 55, 50, 0.75);
    color: lightgray;
    font-style: italic;
    padding: 20px;
}

.text
{
    text-align: center;
    font-size: 25px;
}